<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Text">
    <test name="Parsers">
        <classes>
            <class name="test.com.ltp.composite.parser.TextParserTest"></class>
        </classes>
    </test>
    <test name="Services">
        <classes>
            <class name="test.com.ltp.composite.service.impl.SearchServiceImplTest"></class>
            <class name="test.com.ltp.composite.service.impl.SortingServiceImplTest"></class>
        </classes>
    </test>
</suite>